@import "../../../styles/variables";
@import "../../../styles/mixins";

.pack-one {
  background-image: url("../../../assets/images/image2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80rem;
  background-position: center;
  position: relative;

  &__img {
    position: absolute;
    bottom: -14.6rem;
    right: 45%;

    @include respond(laptop-small) {
      display: none;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    width: 30rem;
    & img {
      width: 100%;
    }

    & p {
      align-self: stretch;
      margin-top: -2rem;
      background-color: lightblue;
      padding: 5rem 0;
      text-align: center;
      color: $color-black;
      font-size: 2rem;
      font-weight: 700;
      border-bottom-right-radius: 2rem;
      border-bottom-left-radius: 2rem;
    }
  }
}
