@import "../../../styles/variables";
@import "../../../styles/mixins";

.solution-two {
  margin: 0 22%;
  margin-bottom: 5rem;
  margin-top: 20rem;
  color: $color-black;

  @include respond(laptop-small) {
    margin: 10rem 5%;
  }
  &__top {
    margin: 5rem 0;
    display: flex;
    align-items: center;
    &--left {
      margin-left: -10%;

      @include respond(laptop-small) {
        margin-left: unset;
        text-align: center;
      }

      & svg {
        width: 5rem;

        @include respond(laptop-small) {
          display: none;
        }
      }
    }
  }

  &__title {
    margin-bottom: 1rem;
    margin-left: 5rem;

    font-size: 5rem;
    font-weight: normal;
    text-align: center;
    color: #333;

    @include respond(laptop-small) {
      text-align: center;
      margin-left: unset;
    }
  }

  &__information {
    margin-bottom: 5rem;
    &--desc {
      font-size: 2rem;
      font-weight: 400;
      line-height: 4.9rem;
      letter-spacing: 0.02em;
      margin-bottom: 2rem;
      @include respond(laptop-small) {
        text-align: center;
      }
    }
  }
}

// button stylings

.r-link {
  display: var(--rLinkDisplay, inline-flex) !important;
}

.r-link[href] {
  color: var(--rLinkColor) !important;
  text-decoration: var(--rLinkTextDecoration, none) !important;
}

.text-underlined {
  --uiTextUnderlinedLineHeight: var(--textUnderlinedLineHeight, 2px); /* 1 */
  --uiTextUnderlinedLineGap: var(--textUnderlinedLineGap, 0.5rem);
  --uiTextUnderlinedPaddingBottom: calc(
    var(--uiTextUnderlinedLineHeight) + var(--uiTextUnderlinedLineGap)
  );

  padding-bottom: var(--uiTextUnderlinedPaddingBottom) !important;
  position: var(--textUnderlinedPosition, relative) !important;
  z-index: var(--textUnderlinedZindex, 1) !important;
}

.text-underlined::after {
  content: "";
  width: var(--textUnderlinedLineWidht, 100%) !important;
  height: var(--uiTextUnderlinedLineHeight) !important;
  background-image: var(
    --textUnderlinedBackgroundImage,
    linear-gradient(
      to top,
      var(--textUnderlinedLineColor, currentColor) 30%,
      rgba(0, 0, 0, 0) 45%
    )
  ) !important;

  position: absolute;
  left: var(--textUnderlinedLineLeft, 0) !important;
  bottom: var(--textUnderlinedLineBottom, 0) !important;
  z-index: var(--textUnderlinedLineZindex, -1) !important;
}

.link {
  --textUnderlinedLineHeight: 100%;
  --textUnderlinedLineGap: 0;
  --textUnderlinedLineColor: #fed330;

  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.link::after {
  will-change: width;
  transition: width 0.1s ease-out;
  transform: rotate(-2deg);
  transform-origin: left bottom;
}

.link:hover {
  --textUnderlinedLineWidht: 0;
}

.link:hover::after {
  transition-duration: 0.15s;
}

.link {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}

.link:focus {
  outline: 2px solid #fed330;
  outline-offset: 0.5rem;
}
