@import "../../../styles/variables";
@import "../../../styles/mixins";

.home-six {
  padding: 10rem 20%;
  background-color: #f8ffff;

  @include respond(laptop-large) {
    margin: 10rem 10%;
  }

  @include respond(laptop) {
    margin: 10rem 2%;
  }

  &__quote-cardWrapper {
    display: flex;
    justify-content: space-around;

    @include respond(laptop) {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__quote-card {
    flex: 0 0 25%;

    @include respond(laptop) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 15rem;
    }
  }

  &__quote {
    position: relative;
    height: 13rem;
    margin-top: 2rem;

    @include respond(laptop) {
      position: unset;
      height: unset;
      margin-top: unset;
    }

    &--title {
      font-size: 2rem;
      font-weight: 700;
      line-height: 3.2rem;
      letter-spacing: 0.02em;
      color: $color-black;
    }
    &--quoteIcon {
      position: absolute;
      top: 0;
      left: 0;
      @include respond(laptop) {
        display: none;
        position: unset;
        top: unset;
        left: unset;
      }
    }
    &--shapeIcon {
      position: absolute;
      top: -2rem;
      left: 2rem;
      @include respond(laptop) {
        position: unset;
        top: unset;
        left: unset;
      }
    }
    &--title {
      position: absolute;
      top: 8rem;
      @include respond(laptop) {
        position: unset;
        top: unset;
        left: unset;
      }
    }
    &--line {
      position: absolute;
      top: 11rem;
      left: 2.5rem;
      @include respond(laptop) {
        position: unset;
        top: unset;
        left: unset;
      }
    }

    &--desc {
    }
  }

  &__info {
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.1rem;
    letter-spacing: 0.02em;
    height: 60rem;
    margin-left: 2rem;

    @include respond(laptop) {
      height: 20rem;
    }

    @include respond(tablet-large) {
      height: 30rem;
    }

    @include respond(mobile-medium) {
      height: 40rem;
    }
  }

  &__user {
    margin-left: 2rem;

    &--pic {
      padding-left: 2rem;
      margin-bottom: 2rem;
    }
    &--name {
      font-size: 2rem;
      font-weight: 700;
      line-height: 3.2rem;
      letter-spacing: 0.02em;
      color: $color-black;
    }
    &--position {
      font-size: 2rem;
      font-weight: 400;
      line-height: 3.1rem;
      letter-spacing: 0.02em;
      color: #c4c4c4;
    }
    &--company {
      font-size: 2rem;
      font-weight: 700;
      line-height: 3.2rem;
      letter-spacing: 0.02em;
      color: gray;
    }
  }

  &__title {
    font-family: Sofia Pro;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 7.8rem;
    letter-spacing: 0.02em;
    text-align: center;
  }

  &__desc {
    font-family: Sofia Pro;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.1rem;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 5rem 20%;

    @include respond(laptop-large) {
      margin: 5rem 15%;
    }

    @include respond(laptop) {
      margin: 5rem 8%;
    }
  }
}
