@import "../../../styles/variables";
@import "../../../styles/mixins";

.home-six {
  background-color: #f8ffff;

  padding: 4rem 20%;

  @include respond(laptop-large) {
    padding: 2rem 10%;
  }

  @include respond(laptop) {
    padding: 0rem 0%;
  }

  &__quote-cardWrapper {
    display: flex;
    justify-content: space-around;

    @include respond(laptop) {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__line {
    display: flex;
    justify-content: center;
  }

  &__quote-card {
    flex: 0 0 25%;

    @include respond(laptop) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 15rem;
    }
  }

  &__quote {
    position: relative;
    height: 13rem;
    margin-top: 2rem;

    @include respond(laptop) {
      position: unset;
      height: unset;
      margin-top: unset;
    }

    &--title {
      font-size: 2rem;
      font-weight: 700;
      line-height: 3.2rem;
      letter-spacing: 0.02em;
      color: $color-black;
    }
    &--quoteIcon {
      position: absolute;
      top: 0;
      left: 0;
      @include respond(laptop) {
        display: none;
        position: unset;
        top: unset;
        left: unset;
      }
    }
    &--shapeIcon {
      position: absolute;
      top: -2rem;
      left: 2rem;
      @include respond(laptop) {
        position: unset;
        top: unset;
        left: unset;
      }
    }
    &--title {
      position: absolute;
      top: 8rem;
      @include respond(laptop) {
        position: unset;
        top: unset;
        left: unset;
      }
    }
    &--line {
      position: absolute;
      top: 11rem;
      left: 2.5rem;
      @include respond(laptop) {
        position: unset;
        top: unset;
        left: unset;
      }
    }

    &--desc {
    }
  }

  &__info {
    height: 57rem;
    margin-left: 2rem;

    font-family: Sofia Pro;
    font-style: normal;

    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.2rem;
    letter-spacing: 0.02em;
    color: #333;

    @include respond(laptop) {
      height: 20rem;
    }

    @include respond(tablet-large) {
      height: 25rem;
    }

    @include respond(mobile-medium) {
      height: 35rem;
    }
  }

  &__user {
    margin-left: 2rem;

    &--pic {
      padding-left: 2rem;
      margin-bottom: 2rem;
    }
    &--name {
      font-size: 2rem;
      font-weight: 700;
      line-height: 3.2rem;
      letter-spacing: 0.02em;
      color: $color-black;
    }
    &--position {
      font-size: 2rem;
      font-weight: 400;
      line-height: 3.1rem;
      letter-spacing: 0.02em;
      color: #c4c4c4;
    }
    &--company {
      font-size: 2rem;
      font-weight: 700;
      line-height: 3.2rem;
      letter-spacing: 0.02em;
      color: gray;
    }
  }

  &__info {
  }

  &__title {
    text-align: center;
    font-size: 5rem;
    font-weight: normal;
    text-align: center;
    text-align: center;
  }

  &__desc {
    font-family: Sofia Pro;
    font-style: normal;
    text-align: center;
    margin: 5rem 20%;

    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.2rem;
    letter-spacing: 0.02em;
    color: #333;

    @include respond(laptop) {
      margin: 4rem 2%;
    }
  }
}
