@import "../../../styles/variables";
@import "../../../styles/mixins";

.home-five {
  margin: 10rem 20%;

  @include respond(laptop-large) {
    margin: 10rem 10%;
  }

  @include respond(laptop) {
    margin: 10rem 2%;
  }

  &__card-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;

    @include respond(laptop) {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    width: 30rem;
    & img {
      width: 100%;
    }

    & p {
      align-self: stretch;
      margin-top: -2rem;
      background-color: #c4c4c4;
      padding: 5rem 0;
      text-align: center;
      color: $color-black;
      font-size: 2rem;
      font-weight: 700;
      border-bottom-right-radius: 2rem;
      border-bottom-left-radius: 2rem;
    }
  }

  &__title {
    font-family: Sofia Pro;
    font-size: 4rem;
    font-style: normal;
    font-weight: 900;
    line-height: 7.8rem;
    letter-spacing: 0.02em;
    text-align: center;
  }

  &__desc {
    font-family: Sofia Pro;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.1rem;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 5rem 25%;

    @include respond(laptop-large) {
      margin: 5rem 15%;
    }

    @include respond(laptop) {
      margin: 5rem 8%;
    }
  }
}
