@import "../../../styles/variables";
@import "../../../styles/mixins";

.home-one {
  background-image: url("../../../assets/images/home-one.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 70rem;
  background-position: center;

  &__title {
    font-family: Sofia Pro;
    font-size: 6.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 13rem;
    letter-spacing: 0.02em;
    color: $color-lightblue;
    text-align: center;

    @include respond(tablet-large) {
      font-size: 4rem;
    }
  }

  &__desc {
    font-family: Sofia Pro;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 7rem;
    letter-spacing: 0.02em;
    color: $color-lightblue;
    text-align: center;
  }
}
