@import "../../../styles/variables";
@import "../../../styles/mixins";

.solution {
  margin: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__left,
  &__right {
    & svg {
      width: 2.5rem;
      cursor: pointer;
    }

    @include respond(laptop) {
      display: none;
    }
  }

  &__card-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
  }

  &__down {
    margin: 2rem 0;

    & svg {
      width: 2.5rem;
    }
  }

  &__card-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;

    @include respond(laptop) {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
    }
  }

  &__overlay--wrapper {
    width: 30rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    height: 110%;
  }

  &__overlay {
    width: 100%;
    height: calc(100% - 2rem);
    font-size: 2.3rem;
    font-weight: 700;
    z-index: 1;
    background-color: rgba(192, 255, 255, 0.83);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0.8;
    transition-duration: 0.5s;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    width: 30rem;
    & img {
      width: 100%;
    }

    & p {
      align-self: stretch;
      margin-top: -2rem;
      background-color: #c4c4c4;
      padding: 5rem 0;
      text-align: center;
      color: $color-black;
      font-size: 2rem;
      font-weight: 700;
      border-bottom-right-radius: 2rem;
      border-bottom-left-radius: 2rem;
    }
  }

  &__title {
    font-family: Sofia Pro;
    font-size: 3rem;
    font-style: normal;
    font-weight: 900;
    line-height: 7.8rem;
    letter-spacing: 0.02em;
    text-align: center;
  }

  &__desc {
    font-family: Sofia Pro;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.1rem;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 5rem 25%;

    @include respond(laptop-large) {
      margin: 5rem 15%;
    }

    @include respond(laptop) {
      margin: 5rem 8%;
    }
  }
}

.solution__overlay--wrapper:hover .solution__overlay {
  transform: translateY(-106.5%);
}

.solution__overlay--wrapper:hover .solution__card > p {
  display: none;
}

.solution__back-circleWrapper {
  position: relative;
  height: 90rem;
  overflow-y: hidden;

  @include respond(laptop) {
    height: unset;
  }
}

.solution__back-circle {
  height: 120rem;
  width: 120rem;
  background-color: #f6ffee;
  border-radius: 50%;
  position: absolute;
  top: 40rem;
  z-index: -100;
  @include respond(laptop) {
    display: none;
  }
}
