.focus-one {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/malezi-grand-central.appspot.com/o/Malezi%20Website%20Image%20-%20%20(4).jpg?alt=media&token=3dd7059b-5a7f-49d7-9bce-bc6ab5e30bc7");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80rem;
  background-position: center;
}
