@import "../../../styles/variables";
@import "../../../styles/mixins";

.contact {
  margin: 10rem 20%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond(laptop-large) {
    margin: 10rem 10%;
  }

  @include respond(laptop) {
    margin: 10rem 2%;
  }

  &__title {
    font-size: 4rem;
    font-weight: 900;
    line-height: 7.8rem;
    letter-spacing: 0.02em;
    color: $color-black;
  }

  &__desc {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3.1rem;
    letter-spacing: 0.02em;
    margin: 3rem 20%;

    @include respond(laptop-large) {
      text-align: center;
    }

    @include respond(tablet) {
      margin: 3rem 5%;
    }
  }

  &__lineIcon {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;

    @include respond(laptop-large) {
      display: none;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;

    @include respond(laptop-large) {
      flex-direction: column;
    }
  }

  &__leftWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;

    @include respond(laptop-large) {
      text-align: center;
    }
  }
  &__left {
    margin-right: 4rem;
    &--left {
      margin-right: 2rem;
      & h3 {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 2.9rem;
        letter-spacing: 0.02em;
        color: $color-black;
        margin-bottom: 1rem;
      }
      & p {
        font-size: 2.1rem;
        font-weight: 400;
        line-height: 2.8rem;
        letter-spacing: 0.02em;
        color: gray;
      }
    }
    &--right {
      margin-left: 2rem;
    }
  }

  &__right {
    flex: 0 0 80%;
    &--fieldController {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      margin-bottom: 2rem;

      @include respond(tablet) {
        width: 100%;
        flex-direction: column;
      }

      & input[type="text"] {
        font-size: 2.1rem;
        font-weight: 500;
        line-height: 2.8rem;
        letter-spacing: 0.02em;
        padding: 2rem 2rem 1rem 0;
        width: 100%;
        margin-right: 2rem;
        border: none;
        border-bottom: 1px solid gray;
      }
    }
    &--bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include respond(tablet) {
        flex-direction: column;
      }

      & input[type="checkbox"] {
        width: 2rem;
        height: 2rem;
      }

      & p {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2rem;
        letter-spacing: 0.02em;

        @include respond(tablet) {
          margin: 2rem 0;
        }
      }

      & button {
        border: none;
        outline: none;
      }
    }
  }
}
